<ion-view title="Home" id="page3">
    <ion-content overflow-scroll="true">
    <ion-slides  options="options" slider="data.slider">
      <ion-slide-page>
        <ion-list>
            <!-- <ion-item class="item-avatar">
                <img src="img/carol-120-120.png">
                <h2>University of Oregon</h2>
                <p>person last spoke: text of chat</p>
            </ion-item> -->
            <ion-item >Chem 102</ion-item>
            <ion-item >Susan Williams</ion-item>
            <ion-item>Marc Kryntsik</ion-item>
            <ion-item class="item-divider">New Invites</ion-item>
            <ion-item>Krystal Brown</ion-item>
            <ion-item>D&amp;D Fridays</ion-item>
        </ion-list>
      </ion-slide-page>
      <ion-slide-page>
        <ion-list class="mini-cards">
            <div class="row">
                <div class="col">
                    <ion-item ui-sref="profile">
                        <img src="{{data.profile.buddyRecommendations[data.pics[0]]}}">
                        <h2>Jill Smith</h2>
                    </ion-item>
                </div>
                <div class="col">
                    <ion-item ui-sref="profile">
                        <img src="{{data.profile.buddyRecommendations[data.pics[1]]}}">
                        <h2>Jill Smith</h2>
                    </ion-item>
                </div>
                <div class="col">
                    <ion-item ui-sref="profile">
                        <img src="{{data.profile.buddyRecommendations[data.pics[2]]}}">
                        <h2>Jill Smith</h2>
                    </ion-item>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ion-item ui-sref="profile">
                        <img src="{{data.profile.buddyRecommendations[data.pics[3]]}}">
                        <h2>Jill Smith</h2>
                    </ion-item>
                </div>
                <div class="col">
                    <ion-item ui-sref="profile">
                        <img src="{{data.profile.buddyRecommendations[data.pics[4]]}}">
                        <h2>Jill Smith</h2>
                    </ion-item>
                </div>
                <div class="col">
                    <ion-item ui-sref="profile">
                        <img src="{{data.profile.buddyRecommendations[data.pics[5]]}}">
                        <h2>Jill Smith</h2>
                    </ion-item>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ion-item ui-sref="profile">
                        <img src="{{data.profile.buddyRecommendations[data.pics[6]]}}">
                        <h2>Jill Smith</h2>
                    </ion-item>
                </div>
                <div class="col">
                    <ion-item ui-sref="profile">
                        <img src="{{data.profile.buddyRecommendations[data.pics[7]]}}">
                        <h2>Jill Smith</h2>
                    </ion-item>
                </div>
                <div class="col">
                    <ion-item ui-sref="profile">
                        <img src="{{data.profile.buddyRecommendations[data.pics[8]]}}">
                        <h2>Jill Smith</h2>
                    </ion-item>
                </div>
            </div>
        </ion-list>
      </ion-slide-page>
      <ion-slide-page>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="profile">
                <img>
                <h2>Chem 102</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="profile">
                <img>
                <h2>Math 305</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="profile">
                <img>
                <h2>D&amp;D Fridays</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
      </ion-slide-page>
    </ion-slides>
    </ion-content>
</ion-view>
