<ion-view title="BuddyUp" id="page3">
    <ion-slides  options="options" slider="data.slider">
      <ion-slide-page>
        <ion-content overflow-scroll="true">
        <ion-list>
            <!-- <ion-item class="item-avatar">
                <img ng-src="img/carol-120-120.png">
                <h2>University of Oregon</h2>
                <p>person last spoke: text of chat</p>
            </ion-item> -->
            <ion-item >Chem 102</ion-item>
            <ion-item >Susan Williams</ion-item>
            <ion-item>Marc Kryntsik</ion-item>
            <ion-item class="item-divider">New Invites</ion-item>
            <ion-item>Krystal Brown</ion-item>
            <ion-item>D&amp;D Fridays</ion-item>
        </ion-list>
        </ion-content>
      </ion-slide-page>
      <ion-slide-page>
        <ion-content overflow-scroll="true">
        <ion-list class="mini-cards">
            <div class="row">
                <div class="col col-33">
                    <ion-item ui-sref="profile">
                        <img ng-src="{{data.profile.buddyRecommendationsMedium[data.pics[0]]}}">
                        <h2>{{data.profile.names[data.pics[0]].first_name}}</h2>
                    </ion-item>
                </div>
                <div class="col col-33">
                    <ion-item ui-sref="profile">
                        <img ng-src="{{data.profile.buddyRecommendationsMedium[data.pics[1]]}}">
                        <h2>{{data.profile.names[data.pics[1]].first_name}}</h2>
                    </ion-item>
                </div>
                <div class="col col-33">
                    <ion-item ui-sref="profile">
                        <img ng-src="{{data.profile.buddyRecommendationsMedium[data.pics[2]]}}">
                        <h2>{{data.profile.names[data.pics[2]].first_name}}</h2>
                    </ion-item>
                </div>
            </div>
            <div class="row">
                <div class="col col-33">
                    <ion-item ui-sref="profile">
                        <img ng-src="{{data.profile.buddyRecommendationsMedium[data.pics[3]]}}">
                        <h2>{{data.profile.names[data.pics[3]].first_name}}</h2>
                    </ion-item>
                </div>
                <div class="col col-33">
                    <ion-item ui-sref="profile">
                        <img ng-src="{{data.profile.buddyRecommendationsMedium[data.pics[4]]}}">
                        <h2>{{data.profile.names[data.pics[4]].first_name}}</h2>
                    </ion-item>
                </div>
                <div class="col col-33">
                    <ion-item ui-sref="profile">
                        <img ng-src="{{data.profile.buddyRecommendationsMedium[data.pics[5]]}}">
                        <h2>{{data.profile.names[data.pics[5]].first_name}}</h2>
                    </ion-item>
                </div>
            </div>
            <div class="row">
                <div class="col col-33">
                    <ion-item ui-sref="profile">
                        <img ng-src="{{data.profile.buddyRecommendationsMedium[data.pics[6]]}}">
                        <h2>{{data.profile.names[data.pics[6]].first_name}}</h2>
                    </ion-item>
                </div>
                <div class="col col-33">
                    <ion-item ui-sref="profile">
                        <img ng-src="{{data.profile.buddyRecommendationsMedium[data.pics[7]]}}">
                        <h2>{{data.profile.names[data.pics[7]].first_name}}</h2>
                    </ion-item>
                </div>
                <div class="col col-33">
                    <ion-item ui-sref="profile">
                        <img ng-src="{{data.profile.buddyRecommendationsMedium[data.pics[8]]}}">
                        <h2>{{data.profile.names[data.pics[8]].first_name}}</h2>
                    </ion-item>
                </div>
            </div>
            <a class="item item-icon-right more" ion-item>
                Suggested Buddies
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </ion-list>
        <ion-list class="mini-cards">
            <div class="row">
                <div class="col col-33">
                    <ion-item ui-sref="profile">
                        <img ng-src="img/freshman-300-300.png">
                        <h2>233 Students</h2>
                    </ion-item>
                </div>
                <div class="col col-33">
                    <ion-item ui-sref="profile">
                        <img ng-src="img/sophomore-300-300.png">
                        <h2>133 Students</h2>
                    </ion-item>
                </div>
                <div class="col col-33">
                    <ion-item ui-sref="profile">
                        <img ng-src="img/junior-300-300.png">
                        <h2>178 Students</h2>
                    </ion-item>
                </div>
            </div>
            <a class="item item-icon-right more" ion-item>
                Class standing
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </ion-list>
        </ion-content>
      </ion-slide-page>
      <ion-slide-page>
        <ion-content overflow-scroll="true">
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="profile">
                <img>
                <h2>Chem 102</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="profile">
                <img>
                <h2>Math 305</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="profile">
                <img>
                <h2>D&amp;D Fridays</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
        </ion-content>
      </ion-slide-page>
    </ion-slides>
</ion-view>
