<ion-view title="Home" id="page3">
    <ion-content overflow-scroll="true" padding="true">
    <ion-slides  options="options" slider="data.slider">
      <ion-slide-page>
        <ion-list>
            <ion-item >University of Oregon</ion-item>
            <ion-item >Chem 102</ion-item>
            <ion-item >Susan Williams</ion-item>
            <ion-item>Marc Kryntsik</ion-item>
            <ion-item class="item-divider">New Invites</ion-item>
            <ion-item>Krystal Brown</ion-item>
            <ion-item>D&amp;D Fridays</ion-item>
        </ion-list>
      </ion-slide-page>
      <ion-slide-page>
        <div class="row">
            <div class="col">
            <ion-item class="item-thumbnail-left" ui-sref="profile">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            </div>
            <div class="col">
            <ion-item class="item-thumbnail-left" ui-sref="profile">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            </div>
        </div>
        <div class="row">
            <div class="col">
            <ion-item class="item-thumbnail-left" ui-sref="profile">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            </div>
            <div class="col">
            <ion-item class="item-thumbnail-left" ui-sref="profile">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            </div>
        </div>
        <div class="row">
            <div class="col">
            <ion-item class="item-thumbnail-left" ui-sref="profile">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            </div>
            <div class="col">
            <ion-item class="item-thumbnail-left" ui-sref="profile">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            </div>
        </div>
        </ion-list>
      </ion-slide-page>
      <ion-slide-page>
      <di
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="profile">
                <img>
                <h2>Chem 102</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="profile">
                <img>
                <h2>Math 305</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="profile">
                <img>
                <h2>D&amp;D Fridays</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
      </ion-slide-page>
    </ion-slides>
    </ion-content>
</ion-view>