<ion-view title="Stephanie Flores" id="page5">
    <ion-content overflow-scroll="true" class="has-header">
        <ion-slides options="options" slider="data.slider">
          <ion-slide-page>
            <div class="list card">
              <div class="item item-image">
                <img src="img/mmatuszak-200-200.png">
              </div>
              <h2 class="item item-button-right">Michael Matuszak</h2>
              <a class="item" href="#">
                2016
              </a>
              <a class="item item-icon-left assertive" href="#">
                <i class="icon ion-music-note"></i>
                Music
              </a>
            </div>
          </ion-slide-page>
          <ion-slide-page>
            <div class="list card">
              <div class="item item-image">
                <img src="img/sflores-200-200.jpg">
              </div>
              <div class="item emote item-button-right">
                <h2>Stephanie is feeling <span>😁</span></h2>
                <button class="button button-positive">
                  <i class="icon ion-ios-plus"></i>
                </button>
              </div>
              <a class="item" href="#">
                Freshman&nbsp;&middot;&nbsp;Psychology 
              </a>
              <div class="item emote">
                <h2>Interests: <span>🚀🚲🚺🇯🇵⚽</span></h2>
              </div>
            </div>
        </ion-slide-page>
        <ion-slide-page>
            <div class="list card">
              <div class="item item-image">
                <img src="img/slabatt-200-200.png">
              </div>
              <h2 class="item item-button-right">Susan Lablatt</h2>
              <a class="item" href="#">
                2016
              </a>
              <a class="item item-icon-left assertive" href="#">
                <i class="icon ion-ios-lightbulb-outline"></i>
                Physics
              </a>
            </div>
          </ion-slide-page>
        </ion-slides>
    </ion-content>
</ion-view>