<ion-view title="{{::chatctrl.chat.displayName }}" id="page3">
    <ion-content>
        <ion-list>
            <a
              class="item item-text-wrap item-avatar item-icon-right"
              ion-item
              collection-repeat="message in chatctrl.chat.data.feed"
              ui-sref="student_profile({ student_id: message.data.sender })">
                <img ng-src="{{ message.profile_pic_tiny_url }}">
                <h2>{{message.first_name}} {{message.last_name}}</h2>
                <p>{{message.data.body}}</p>
            </a>
        </ion-list>
    </ion-content>
    <form name="sendMessageForm" id="sendMessageForm" class="item " ng-submit="chatctrl.handlePostChat(chatctrl.message)" novalidate>
      <div class="send_container">
        <textarea ng-model="chatctrl.message" value="" placeholder="Post a message..." required minlength="1" maxlength="1500" msd-elastic ng-click="$event.preventDefault();"></textarea>
        <button class="post_button button button button-calm button-clear button-small button-footer" type="submit"
          ng-disabled="!chatctrl.message || chatctrl.message === ''">
          post
        </button>
      </div>
    </form>
</ion-view>
