<ion-view id="page3">
    <ion-slides  options="options" slider="data.slider">
      <ion-slide-page>
        <ion-content overflow-scroll="false">
        <ion-list>
            <ion-item class="item-avatar">
                <img ng-src="{{data.brs.buddyRecommendations[0].profile_pic_tiny}}">
                <h2>University of Oregon</h2>
                <p>Devin Nelson: It's going to be on the South Campus</p>
                <span class="badge badge-assertive">17</span>
            </ion-item>
            <ion-item class="item-avatar">
                <img ng-src="{{data.brs.buddyRecommendations[1].profile_pic_tiny}}">
                <h2>Chem 102</h2>
                <p>Michael Lusardi: 😁</p>
                <span class="badge badge-assertive">1</span>
            </ion-item>
            <ion-item class="item-avatar">
                <img ng-src="{{data.brs.buddyRecommendations[2].profile_pic_tiny}}">
                <h2>Anneke Kniestedt</h2>
                <p>Anneke: Chapter 2 and 3 I think.</p>
                <span class="badge badge-assertive">3</span>
            </ion-item>
            <ion-item class="item-avatar">
                <img ng-src="{{data.brs.buddyRecommendations[3].profile_pic_tiny}}">
                <h2>Marc Kryntsik</h2>
                <p>You: Thanks.</p>
            </ion-item>
            <ion-item class="item-divider">New Invites</ion-item>
            <ion-item class="item-avatar">
                <img ng-src="{{data.brs.buddyRecommendations[5].profile_pic_tiny}}">
                <h2>D&amp;D Fridays</h2>
                <p>Jared: invited you to the group.</p>
            </ion-item>
            <ion-item class="item-divider">Students</ion-item>
            <a class="item item-avatar item-icon-right" ion-item>
                <img ng-src="{{data.brs.buddyRecommendations[7].profile_pic_tiny}}">
                <div class="item-text-center">Krystal Brown</div>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-avatar item-icon-right" ion-item>
                <img ng-src="{{data.brs.buddyRecommendations[3].profile_pic_tiny}}">
                <div class="item-text-center">James Brown</div>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-avatar item-icon-right" ion-item>
                <img ng-src="{{data.brs.buddyRecommendations[8].profile_pic_tiny}}">
                <div class="item-text-center">Julie Brown</div>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </ion-list>
        </ion-content>
      </ion-slide-page>
      <ion-slide-page>
        <ion-content overflow-scroll="false">
        <ion-list class="mini-cards">
            <div class="row">
                <div class="col col-33" ng-repeat="buddy in data.brs.buddyRecommendations | limitTo:3:0">
                    <ion-item ui-sref="students">
                        <img ng-src="{{ buddy.profile_pic_tiny }}">
                        <h2>{{buddy.first_name}}<br />{{buddy.last_name}}</h2>
                    </ion-item>
                </div>
            </div>
            <div class="row">
                <div class="col col-33" ng-repeat="buddy in data.brs.buddyRecommendations | limitTo:3:3">
                    <ion-item ui-sref="students">
                        <img ng-src="{{ buddy.profile_pic_tiny }}">
                        <h2>{{buddy.first_name}}<br />{{buddy.last_name}}</h2>
                    </ion-item>
                </div>
            </div>
            <div class="row">
                <div class="col col-33" ng-repeat="buddy in data.brs.buddyRecommendations | limitTo:3:6">
                    <ion-item ui-sref="students">
                        <img ng-src="{{ buddy.profile_pic_tiny }}">
                        <h2>{{buddy.first_name}}<br />{{buddy.last_name}}</h2>
                    </ion-item>
                </div>
            </div>

            <a class="item item-icon-right more" ui-sref="students" ion-item>
                Suggested Buddies
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </ion-list>
        <ion-list class="mini-cards">
            <div class="row">
                <div class="col col-33">
                    <ion-item ui-sref="students">
                        <img src="../../img/freshman-300-300.png">
                        <h2>233 Students</h2>
                    </ion-item>
                </div>
                <div class="col col-33">
                    <ion-item ui-sref="students">
                        <img src="../../img/sophomore-300-300.png">
                        <h2>133 Students</h2>
                    </ion-item>
                </div>
                <div class="col col-33">
                    <ion-item ui-sref="students">
                        <img src="../../img/junior-300-300.png">
                        <h2>178 Students</h2>
                    </ion-item>
                </div>
            </div>
            <a class="item item-icon-right more" ion-item>
                Class standings
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </ion-list>
        <ion-list class="mini-cards">
            <div class="row">
                <div class="col col-33">
                    <ion-item ui-sref="students">
                        <div class="mini-box">
                            Psychology
                        </div>
                        <h2>133 Students</h2>
                    </ion-item>
                </div>
                <div class="col col-33">
                    <ion-item ui-sref="students">
                        <div class="mini-box">
                            Biology
                        </div>
                        <h2>33 Students</h2>
                    </ion-item>
                </div>
                <div class="col col-33">
                    <ion-item ui-sref="students">
                        <div class="mini-box">
                            History
                        </div>
                        <h2>17 Students</h2>
                    </ion-item>
                </div>
            </div>
            <a class="item item-icon-right more" ion-item>
                Majors
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </ion-list>
        <ion-list class="mini-cards">
            <div class="row">
                <div class="col col-33">
                    <ion-item ui-sref="students">
                        <div class="mini-box interest">
                            🚀
                        </div>
                        <h2>11 Students</h2>
                    </ion-item>
                </div>
                <div class="col col-33">
                    <ion-item ui-sref="students">
                        <div class="mini-box interest">
                            ⚽
                        </div>
                        <h2>89 Students</h2>
                    </ion-item>
                </div>
                <div class="col col-33">
                    <ion-item ui-sref="students">
                        <div class="mini-box interest">
                            🚺
                        </div>
                        <h2>43 Students</h2>
                    </ion-item>
                </div>
            </div>
            <a class="item item-icon-right more" ion-item>
                Interests
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </ion-list>
        </ion-content>
        <div class="chat-light">
            <span class="badge badge-assertive">21</span>
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <ion-content overflow-scroll="false">
        <ion-list class="mini-cards">
            <div class="row">
                <div class="col col-33">
                    <ion-item ui-sref="class">
                        <img src="../../img/chem-102.png">
                        <h2>CHEM 102<!--  General Chemistry --></h2>
                        <p>78 classmates</p>
                    </ion-item>
                </div>
                <div class="col col-33">
                    <ion-item ui-sref="class">
                        <img src="../../img/bio-180.png">
                        <h2>BIO 121<!--  Intro to Human Anatomy and Physiology --></h2>
                        <p>245 Students</p>
                    </ion-item>
                </div>
                <div class="col col-33">
                    <ion-item ui-sref="class">
                        <img src="../../img/geol-103.png">
                        <h2>GEOL 103<!--  Environmental Geology --></h2>
                        <p>53 Students</p>
                    </ion-item>
                </div>
            </div>
            <a class="item item-icon-right more" ui-sref="class" ion-item>
                Classes
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </ion-list>
        <ion-list class="mini-cards">
            <div class="row">
                <div class="col col-33">
                    <ion-item ui-sref="group">
                        <img src="../../img/MENChA.png">
                        <h2>MECha</h2>
                        <p>42 Members</p>
                    </ion-item>
                </div>
                <div class="col col-33">
                    <ion-item ui-sref="group">
                        <img src="../../img/international-students.png">
                        <h2>Intl Students</h2>
                        <p>132 Members</p>
                    </ion-item>
                </div>
                <div class="col col-33">
                    <ion-item ui-sref="group">
                        <img src="../../img/hikers.png">
                        <h2>Hikers</h2>
                        <p>14 Members</p>
                    </ion-item>
                </div>
            </div>
            <a class="item item-icon-right more" ui-sref="group" ion-item>
                Groups
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </ion-list>
        </ion-content>
      </ion-slide-page>
    </ion-slides>
</ion-view>
