
*.xcscheme

*.plist

*.xcuserstate
node_modules

sample_data

profiles.json


.DS_Store

platforms/
plugins/
resources/
bower_components/

www/names.json

platforms/ios/www/css/ionic.app.min.css
assets/bundles/
assets/dist/
webpack-stats.json
