.DS_Store

# xCode
*.xcscheme
*.plist
*.xcuserstate

# Libraries
node_modules
bower_components





# Ionic
platforms/ios
platforms/android
platforms/www
plugins/
resources/

# App
sample_data
www/names.json
profiles.json

# Webpack
www/assets/bundles/
www/assets/dist/
assets/bundles/
assets/dist/
webpack-stats.json

npm-debug.log
