
*.xcscheme

*.plist

*.xcuserstate
node_modules

sample_data

profiles.json


.DS_Store

platforms/
platforms/**
plugins/
resources/
bower_components/

www/names.json
www/assets/bundles/
www/assets/dist/


platforms/ios/www/css/ionic.app.min.css
assets/bundles/
assets/dist/
webpack-stats.json
