<ion-view title="" id="page5">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button class="button-icon icon ion-ios-arrow-back"> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-content overflow-scroll="true" class="has-header">
        <ion-slides options="options" slider="data.slider">
          <ion-slide-page>
            <div class="list card">
              <div class="item item-image">
                <img src="../../img/chem-102.png">
              </div>
              <div class="item emote item-icon-right">
                <h2>CHEM 102</h2>
                <p>Chemistry</p>
                <i
                  class="icon ion-ios-chatbubble"
                  ng-show="data.chemAdded"
                  ui-sref="chat({ type: 'class', id: '-KBtmOmRoAeCZOcV1dWF' })"
                ></i>
              </div>
              <a class="item item-icon-right" ui-sref="students-list">
                78 Students
                <i class="icon ion-ios-arrow-right"></i>
              </a>
            </div>
            <ion-footer-bar ng-if="!data.chemAdded">
              <div class="button-bar">
                <a class="button button-positive" ng-click="data.chemAdded = true">Add Class</a>
              </div>
            </ion-footer-bar>
          </ion-slide-page>
          <ion-slide-page>
            <div class="list card">
              <div class="item item-image">
                <img src="../../img/bio-180.png">
              </div>
              <div class="item emote item-icon-right">
                <h2>BIO 180</h2>
                <p>Anatomy and Physiology</p>
                <i
                  class="icon ion-ios-chatbubble"
                  ng-show="data.bioAdded"
                  ui-sref="chat({ type: 'class', id: '-KBtmOmRoAeCZOcV1dWF' })"
                ></i>
              </div>
              <a class="item item-icon-right" ui-sref="students-list">
                201 Students
                <i class="icon ion-ios-arrow-right"></i>
              </a>
            </div>
            <ion-footer-bar ng-if="!data.bioAdded">
              <div class="button-bar">
                <a class="button button-positive" ng-click="data.bioAdded = true">Add Class</a>
              </div>
            </ion-footer-bar>
          </ion-slide-page>
          <ion-slide-page>
            <div class="list card">
              <div class="item item-image">
                <img src="../../img/geol-103.png">
              </div>
              <div class="item emote item-icon-right">
                <h2>GEOL 103</h2>
                <p>Geology</p>
                <i
                  class="icon ion-ios-chatbubble"
                  ng-show="data.geolAdded"
                  ui-sref="chat({ type: 'class', id: '-KBtmOmRoAeCZOcV1dWF' })"
                ></i>
              </div>
              <a class="item item-icon-right" ui-sref="students-list">
                53 Students
                <i class="icon ion-ios-arrow-right"></i>
              </a>
            </div>
            <ion-footer-bar ng-if="!data.geolAdded">
              <div class="button-bar">
                <a class="button button-positive" ng-click="data.geolAdded = true">Add Class</a>
              </div>
            </ion-footer-bar>
          </ion-slide-page>
        </ion-slides>
    </ion-content>
</ion-view>
